body {
  padding: 0px;
  margin: 0px;
  font-family: 'Quicksand';
  height: 100%;
}
.projects-hl {
  text-decoration: underline #ad0e33 5px;
  text-underline-offset: 7px;
  text-underline-offset: 7px;
  transition: 0.5s;
}
.projects-hl:hover {
  text-decoration: none;
}